<h1>(<%= score(@comment) %>) <%= @comment.content %> by <%= link_to @comment.author.username, user_url(@comment.author) %></h1>

<% if current_user == @comment.author || current_user == @comment.post.author %>
  <%= button_to 'Delete comment', comment_url(@comment), method: :delete %>
<% end %>

<%= button_to "Upvote", upvote_comment_url(@comment), params: {comment_id: @comment.id} %>     
<%= button_to "Downvote", downvote_comment_url(@comment), params: {comment_id: @comment.id} %>

<b>Reply to this comment:</b>
<%= render 'form', comment: Comment.new %>
