<h1><%= @sub.title %></h1>
<%= render 'shared/flashes' %>
<b>Description</b>
<p><%= @sub.description %></p>
<% unless current_user == @sub.moderator %>
  <% if current_user.subscriptions.include?(@sub) %>
    <%= button_to 'Unsubscribe!', unsubscribe_sub_url(@sub) %>
  <% else %>
    <%= button_to 'Subscribe!', subscribe_sub_url(@sub) %>
  <% end %>
<% end %>

<%= link_to 'Make New Post!', new_post_url %>

<%= render 'posts', posts: @posts %>
<%= paginate @posts %>


<% if current_user && current_user.id == @sub.moderator_id %>
  <%= link_to 'Edit', edit_sub_url %>
  <%= button_to 'Delete Sub', sub_url(@sub), method: :delete %>
<% end %>