<h1>(<%= score(@post) %>) <%= link_to @post.title, post_url(@post) %> by <%= link_to @post.author.username, user_url(@post.author_id) %></h1>

<b>Content:</b>
<p><%= @post.content %></p>

<%= button_to "Upvote", upvote_post_url(@post), params: {post_id: @post.id} %>     
<%= button_to "Downvote", downvote_post_url(@post), params: {post_id: @post.id} %>

<b>Subs</b>
<%= render 'shared/subs', subs: @post.subs  %>

<h2>Comments</h2>

<%= link_to 'Comment on this post', new_post_comment_url(params[:id]) %>
<ul>
  <% @comments_by_parent_id[nil].each do |c1| %>
    <li><%= render 'comment', c1: c1 %></li>
  <% end %>
</ul>

<% if current_user == @post.author %>
  <%= link_to 'Edit', edit_post_url %>
  <%= button_to 'Delete Post', post_url(@post), method: :delete %>
<% end %>