<h1><%= link_to @post.title, post_url(@post) %> by <%= @post.author.username %></h1>

<b>Content:</b>
<p><%= @post.content %></p>

<b>Subs</b>
<%= render 'shared/subs', subs: @post.subs  %>

<h2>Comments</h2>

<%= link_to 'Comment on this post', new_post_comment_url(params[:id]) %>
<%= render 'comments', comments: @post.comments %>

<% if current_user == @post.author %>
  <%= link_to 'Edit', edit_post_url %>
<% end %>