<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <ul>
        <li><%= current_user.username %></li>
        <li><%= link_to "Create a sub!", new_sub_url %></li>
        <li><%= link_to "Your subs", subs_url %></li>
        <li><%= button_to 'Log out', session_url, method: :delete %></li>
      </ul>
    <% else %>
      <%= link_to 'Sign in!', new_session_url %>
    <% end %>

    <div class="search-bar-container">
      <form action="<%= search_results_url %>" method="get">
        <% if @search %>
          <input
          type="search" 
          name="search[search_input]" 
          value="<%= @search %>"
          required>
        <% else %>
          <input
            type="search" 
            name="search[search_input]" 
            placeholder="Search.."
            required>
        <% end %>
          <input type="submit" value="Search">
      </form>
    </div>

    <%= yield %>

  </body>
</html>
